<h1>{{title}}</h1>

<input #name type="text" placeholder="Name">
<input #address type="text" placeholder="Address">
<input #contact type="text" placeholder="Contact">
<input #email type="email" placeholder="Email">
<input #password type="password" placeholder="Password">

<button (click)="getInfo(name.value, address.value, contact.value, email.value)" >Register</button>

<h1>{{registerTitle}}</h1>
<h3>Name: {{displayName}}</h3>
<h3>Address: {{displayAddress}}</h3>
<h3>Contact: {{displayContact}}</h3>
<h3>Email: {{displayEmail}}</h3>


<!-- 
PS C:\Users\siddh\Desktop\Coding\WebDev\AngularBoi> npm --version
10.2.4
PS C:\Users\siddh\Desktop\Coding\WebDev\AngularBoi> npm install -g @angular/cli@latest

removed 1 package, and changed 236 packages in 14s

44 packages are looking for funding
  run `npm fund` for details
PS C:\Users\siddh\Desktop\Coding\WebDev\AngularBoi> ng new sppuAngular    
? Which stylesheet format would you like to use? CSS             [ https://developer.mozilla.org/docs/Web/CSS                     ]
? Do you want to enable Server-Side Rendering (SSR) and Static Site Generation (SSG/Prerendering)? Yes
CREATE sppuAngular/angular.json (2864 bytes)
CREATE sppuAngular/package.json (1280 bytes)
CREATE sppuAngular/README.md (1092 bytes)
CREATE sppuAngular/tsconfig.json (889 bytes)
CREATE sppuAngular/.editorconfig (290 bytes)
CREATE sppuAngular/.gitignore (590 bytes)
CREATE sppuAngular/tsconfig.app.json (342 bytes)
CREATE sppuAngular/tsconfig.spec.json (287 bytes)
CREATE sppuAngular/server.ts (1759 bytes)
CREATE sppuAngular/.vscode/extensions.json (134 bytes)
CREATE sppuAngular/.vscode/launch.json (490 bytes)
CREATE sppuAngular/.vscode/tasks.json (980 bytes)
CREATE sppuAngular/src/main.ts (256 bytes)
CREATE sppuAngular/src/favicon.ico (15086 bytes)
CREATE sppuAngular/src/index.html (310 bytes)
CREATE sppuAngular/src/styles.css (81 bytes)
CREATE sppuAngular/src/main.server.ts (271 bytes)
CREATE sppuAngular/src/app/app.component.html (20239 bytes)
CREATE sppuAngular/src/app/app.component.spec.ts (960 bytes)
CREATE sppuAngular/src/app/app.component.ts (320 bytes)
CREATE sppuAngular/src/app/app.component.css (0 bytes)
CREATE sppuAngular/src/app/app.config.ts (330 bytes)
CREATE sppuAngular/src/app/app.routes.ts (80 bytes)
CREATE sppuAngular/src/app/app.config.server.ts (361 bytes)
CREATE sppuAngular/src/assets/.gitkeep (0 bytes)
✔ Packages installed successfully.
warning: in the working copy of 'package-lock.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'package.json', LF will be replaced by CRLF the next time Git touches it
    Successfully initialized git.

PS C:\Users\siddh\Desktop\Coding\WebDev\AngularBoi> cd sppuAngular

PS C:\Users\siddh\Desktop\Coding\WebDev\AngularBoi\sppuAngular> ng serve


Browser bundles
Initial chunk files     | Names               |  Raw size
polyfills.js            | polyfills           |  85.81 kB | 
main.js                 | main                |   3.97 kB | 
styles.css              | styles              |  95 bytes | 

                        | Initial total       |  89.88 kB


Server bundles
Initial chunk files     | Names               |  Raw size
chunk-MQKD4UK4.mjs      | -                   |   1.70 MB | 
polyfills.server.mjs    | polyfills.server    | 557.17 kB | 
main.server.mjs         | main.server         | 198.08 kB | 
chunk-VPSODEBW.mjs      | -                   |   2.51 kB | 
render-utils.server.mjs | render-utils.server | 423 bytes | 

Lazy chunk files        | Names               |  Raw size
chunk-OTT6LQ5K.mjs      | xhr2                |  39.10 kB | 

Application bundle generation complete. [0.919 seconds]

  ➜  Local:   http://localhost:4200/
  ➜  press h + enter to show help
PS C:\Users\siddh\Desktop\Coding\WebDev\AngularBoi\sppuAngular>  -->